body {
	background-color: snow;
	font-family: sans-serif;
}

#kq {
	width: 100px;
}

#aboutme {
	width: 300px;
}

#doelen {
	display: inline-block;
	
}

#doe {

}

#one {
  display: inline-block;
  width: 32%;
  position: relative;
  top: -29px;
}

#two {
  display: inline-block;
  width: 32%;
  position: relative;
  top: -135px;
}

#three {
  display: inline-block;
  width: 32%;
  position: relative;
  top: -192px;
}

h3 {
	color: firebrick;
	font-family: "Verdana"
}
